<div class='feedback'>
	<button
		type='button'
		class='feedback-button'
		{{on 'click' this.toggleFeedbackForm}}
		...attributes
	>
		<div>
			<i class='fal fa-comment'></i>
			<span>Send Feedback</span>
		</div>
	</button>

	{{#if this.show}}
		<Ascua::Modal @onClose={{fn (mut this.show) false}}>

			<Modal::Close @close={{fn (mut this.show) false}} />

			<div class='feedback-form'>
				{{#if this.isNewFeedBack}}
					<form>
						Give feedback
						<line></line>
						<div class='category-select'>
							{{! template-lint-disable require-input-label }}
							<select {{on 'change' this.setCategory}}>
								{{#each this.categories as |category|}}
									<option value={{category.value}}>
										{{category.label}}
									</option>
								{{/each}}
							</select>
						</div>
						<Textarea
							@value={{this.text}}
							rows='5'
							name='feedback'
							id='feedback-input'
							placeholder='What are your thoughts?'
						/>
						<button
							type='button'
							disabled={{this.submitFeedback.isRunning}}
							{{on 'click' this.submitFeedback.run}}
						>
							Submit
						</button>
					</form>
				{{else}}
					<div class='feedback-container'>
						<div class='feedback-step'>
							{{#if this.hasSavedFeedback}}
								<div class='icon-success'>
									<i class='fa-regular fa-circle-check'></i>
								</div>
								<div>
									<p>Thanks! We received your feedback.</p>
								</div>
							{{else}}
								<div class='icon-success'>
									<i
										class='fa-solid fa-circle-exclamation'
									></i>
								</div>
								<div>
									<p>Something went wrong. Please try again
										later.
									</p>
								</div>
							{{/if}}
						</div>
					</div>
				{{/if}}
			</div>
		</Ascua::Modal>
	{{/if}}
</div>