<div class='feedback'>
	<button
		type='button'
		id='feedback'
		class='feedback-button'
		{{on 'click' this.toggleFeedbackForm}}
		...attributes
	>
		<div>
			{{#if (has-block)}}
				{{yield}}
			{{else if @text}}
				{{@text}}
			{{else}}
				<i class='fal fa-comment'></i>
				<span>Send Feedback</span>
			{{/if}}
		</div>
	</button>

	{{#if this.show}}
		<EmberTether
			@target='#feedback'
			@targetAttachment='bottom middle'
			@attachment='top right'
			@offset='0 -20px'
		>
			<div class='feedback-form'>
				<form>
					<div class='category-select'>
						<select {{on 'change' this.setCategory}}>
							{{#each this.categories as |category|}}
								<option value={{category.value}}>
									{{category.label}}
								</option>
							{{/each}}
						</select>
					</div>
					<Textarea
						@value={{this.feedback}}
						rows='5'
						name='feedback'
						id='feedback-input'
						placeholder='What are your thoughts'
					/>
					<button type='button' {{on 'click' this.submitFeedback}}>
						Submit
					</button>
				</form>
			</div>
		</EmberTether>
	{{/if}}
</div>